:root {
    --color-active: rgb(74, 104, 255);

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(25, 24, 26);
    color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    height: 100vh;

}

h1 {
    color: #fff;
    color: var();
    font-size: 1.7em;
    text-align: left;
    padding-bottom: 1.3em;

}



.bac {
    background-color: red;
}

button {
    background-color: rgb(61, 61, 61);
    color: #FFF;
    padding: .5em;
    border: none;
    border-radius: 25px;
    padding: .6em 2em;
    cursor: pointer;

}


.active {
    background-color: rgb(74, 104, 255);

}


main {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
}

.container-btn canvas {
    position: absolute;
    /* left: 0; */
    top: 100px;
}