* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(25, 24, 26);
    color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    height: 100vh;

}

main {
    background-color: #242326;
    padding: 3em;
    border-radius: 10px;
    width: 600px;
}

h1 {}

p {
    max-width: 70ch;
}




.video {
    width: 100%;
    border-radius: .8em;
    border: none;
    aspect-ratio: 16/9;
    /* border: 2px solid rgba(122, 104, 255, 0.53); */
}

a {
    color: #fff;
    text-decoration: none;
    background-color: #373737;
    padding: .3em 1em;
    border-radius: 20px;

}

a:active {
    outline: 1px solid #8f8f8f;

}

.active {
    background-color: rgb(91, 96, 255);
    transition: all .4s ease;

}

.container-btn {
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
}