* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(25, 24, 26);
    color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    /* height: 100vh; */

}

h1 {
    color: #fff;
    font-size: 2em;
    text-align: left;
    padding-bottom: 2em;

}

article h1 {
    padding-bottom: 1.5rem;
}

span {
    font-size: 4em;
    font-weight: 600;
    padding-bottom: 1em;
}

.container-image {
    padding-bottom: 3em;

}

.image {
    width: 100%;
    border-radius: 5px;
}

article {
    width: 60%;
    background-color: rgb(45, 45, 45);
    border-radius: 5px;
    padding: 5em 6em;

}