* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(25, 24, 26);
    color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
    /* height: 100vh; */

}


main {
    background-color: #242326;
    padding: 3em;
    border-radius: 10px;

}

h1 {
    color: #fff;
}

p {
    max-width: 70ch;
}

a {
    color: #FFF;
    border-radius: 5px;
    max-width: fit-content;
    color: #5ed3f3;

}