* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(25, 24, 26);
    color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
    /* height: 100vh; */

}

main {
    background-color: #242326;
    padding: 3em;
    border-radius: 10px;
}

h1 {
    color: #fff;
}

p {
    max-width: 70ch;
}

a {
    color: #FFF;
    border-radius: 5px;
    max-width: fit-content;
    color: #6f9fff;
}

img {
    width: 100%;
    border-radius: .2em;
}

p mark:nth-of-type(1) {
    background-color: yellow;
    color: black;
    border-radius: .2em;
    padding-inline: .2em;
}

p mark:nth-of-type(2) {
    background-color: red;
    color: #fff;
    border-radius: .2em;
    padding-inline: .2em;
}

p mark:nth-of-type(3) {
    background-color: rgb(129, 61, 255);
    color: #fff;
    border-radius: .2em;
    padding-inline: .2em;
}

.video {
    width: 100%;
    height: 300px;
    border-radius: .8em;
    border: none;
    /* border: 2px solid rgba(122, 104, 255, 0.53); */
}