* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(25, 24, 26);
    color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 2em;
    /* height: 100vh; */
    height: 100vh;

}

h1 {
    color: #fff;
    font-size: 2em;
    text-align: left;
    padding-bottom: 2em;

}



span {
    font-size: 4em;
    font-weight: 600;
    padding-bottom: 1em;
}


button {
    background-color: rgb(74, 104, 255);
    color: #FFF;
    padding: .5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    text-align: center;
}

h2 {
    color: #393939;
}

main {
    width: fit-content;
    /* background-color: rgb(45, 45, 45); */
    border-radius: 5px;
    padding: 5em 6em;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;


}


/* .modal-dialog {} */